# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/venv
dataset
backend/tuned-model
backend/Fine_tune_LLMs_on_custom_data.ipynb
backend/optim8/adapter_config.json
backend/optim8/adapter_model.safetensors
backend/optim8/README.md
backend/optim8/special_tokens_map.json
backend/optim8/tokenizer_config.json
backend/optim8/tokenizer.json
backend/optim8-model/config.json
backend/optim8-model/generation_config.json
backend/optim8-model/model-00001-of-00002.safetensors
backend/optim8-model/model-00002-of-00002.safetensors
backend/optim8-model/model.safetensors.index.json
backend/optim8-model/special_tokens_map.json
backend/optim8-model/tokenizer_config.json
backend/optim8-model/tokenizer.json
backend/outputs/checkpoint-60/adapter_config.json
backend/outputs/checkpoint-60/adapter_model.safetensors
backend/outputs/checkpoint-60/optimizer.pt
backend/outputs/checkpoint-60/README.md
backend/outputs/checkpoint-60/rng_state.pth
backend/outputs/checkpoint-60/scheduler.pt
backend/outputs/checkpoint-60/special_tokens_map.json
backend/outputs/checkpoint-60/tokenizer_config.json
backend/outputs/checkpoint-60/tokenizer.json
backend/outputs/checkpoint-60/trainer_state.json
backend/outputs/checkpoint-60/training_args.bin
backend/unsloth_compiled_cache/UnslothAlignPropTrainer.py
backend/unsloth_compiled_cache/UnslothBCOTrainer.py
backend/unsloth_compiled_cache/UnslothCPOTrainer.py
backend/unsloth_compiled_cache/UnslothDDPOTrainer.py
backend/unsloth_compiled_cache/UnslothDPOTrainer.py
backend/unsloth_compiled_cache/UnslothGKDTrainer.py
backend/unsloth_compiled_cache/UnslothGRPOTrainer.py
backend/unsloth_compiled_cache/UnslothKTOTrainer.py
backend/unsloth_compiled_cache/UnslothNashMDTrainer.py
backend/unsloth_compiled_cache/UnslothOnlineDPOTrainer.py
backend/unsloth_compiled_cache/UnslothORPOTrainer.py
backend/unsloth_compiled_cache/UnslothPPOTrainer.py
backend/unsloth_compiled_cache/UnslothPRMTrainer.py
backend/unsloth_compiled_cache/UnslothRewardTrainer.py
backend/unsloth_compiled_cache/UnslothRLOOTrainer.py
backend/unsloth_compiled_cache/UnslothSFTTrainer.py
backend/unsloth_compiled_cache/UnslothXPOTrainer.py
backend/unsloth_compiled_cache/__pycache__/UnslothAlignPropTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothBCOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothCPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothDDPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothDPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothGKDTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothGRPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothKTOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothNashMDTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothOnlineDPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothORPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothPPOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothPRMTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothRewardTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothRLOOTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothSFTTrainer.cpython-312.pyc
backend/unsloth_compiled_cache/__pycache__/UnslothXPOTrainer.cpython-312.pyc
